
.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}


/* doctor register */

.input-focus {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.input-focus:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}



.btn:hover {
  background-color: lightgreen;
  border: none;
    color: black;
}
.class-body{
   padding: 100px;
}
.container{
    margin-top: 15px;
    margin-bottom: 15px;
}
#navbarNav{
    margin-left: auto;
    margin-right: 0;}  