{% extends 'base_admin.html' %}
{% block title %}Admin Home{% endblock %}
{% block content %}
  <h2>Welcome, Admin {{ request.user.username }}</h2>
  <p>This is your admin dashboard.</p>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Doctors</h5>
          <p class="card-text fs-3">{{ total_doctors }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Patients</h5>
          <p class="card-text fs-3">{{ total_patients }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Active Doctors</h5>
          <p class="card-text fs-3">{{ active_doctors }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
