{% extends 'doctor_base.html' %}
{% block title %}Doctor Dashboard - PulseTrack{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" 
     style="min-height: 80vh; text-align: center;">
  <div>
    <h2 class="fw-bold mb-3">
      👋 Welcome , Dr. {{ request.user.first_name }} {{ request.user.last_name }}.
    </h2>
    <p class="lead text-muted">
      It’s always an honor to have you at 
      <span class="fw-semibold text-primary">PulseTrack Hospital</span>, 
      where care meets excellence.
    </p>
  </div>
</div>

{% endblock %}
