{% extends 'receptionist_base.html' %}

{% block title %}Receptionist Home - HMS{% endblock %}

{% block content %}
<div class="text-center">
  <h3>Welcome, Receptionist!</h3>
  <p class="text-muted">Here’s a summary of today’s appointments.</p>

  <div class="row mt-4">
    <!-- New (Pending) Appointments -->
    <div class="col-md-4">
      <div class="card bg-light text-dark">
        <h5><i class="bi bi-calendar-plus text-primary"></i> Pending Appointments</h5>
        <h1>{{ new_appointments }}</h1>
      </div>
    </div>

    <!-- Confirmed Appointments -->
    <div class="col-md-4">
      <div class="card bg-light text-dark">
        <h5><i class="bi bi-check2-circle text-success"></i> Confirmed Appointments</h5>
        <h1>{{ confirmed_appointments }}</h1>
      </div>
    </div>

    <!-- Completed Appointments  -->
    <div class="col-md-4">
      <div class="card bg-light text-dark">
        <h5><i class="bi bi-check2-circle text-success"></i> Completed Appointments</h5>
        <h1>{{ completed_appointments }}</h1>
      </div>
    </div>

<!-- Cancelled Appointments  -->

    <div class="col-md-4">
      <div class="card bg-light text-dark">
        <h5><i class="bi bi-check2-circle text-success"></i> Cancelled\ Appointments</h5>
        <h1>{{ cancelled_appointments }}</h1>
      </div>
    </div>

    <!-- Total Appointments -->
    <div class="col-md-4">
      <div class="card bg-light text-dark">
        <h5><i class="bi bi-list-ul text-warning"></i> Total Appointments</h5>
        <h1>{{ total_appointments }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
